<ion-content>
  <div class="ion-text-center" style="margin-top: 100px;">
    <ion-img style="width: auto; height: 200px" src="assets/img/logo.jpg"></ion-img>
  </div>
  <div class="ion-text-center" style="margin-top: 50px">
    <h2>Te damos la bienvenida a</h2>
    <h1>MaceSport</h1>
  </div>
  <div class="botones ion-text-center">
    <h3>¡Vamos!</h3>
    <ion-button expand="block" [routerLink]="['/login']" class="boton" shape="round">Iniciar Sesión</ion-button>
    <ion-button expand="block" [routerLink]="['/registro']" class="boton" shape="round">Registro</ion-button>  
  </div>
</ion-content>
